#form {
  margin-top: 2rem;
  margin: 0 auto;
  max-width: 60%;
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.card {
  transition: all 0.1s linear;
}

.card:hover {
  transform: scale(1.05);
  background: #f1f1f1;
}

button[disabled] {
  cursor: not-allowed;
}